In [103]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df =pd.read_csv(r"D:\Shrabani.Personal\Data Science Course\Assignment\Logistic Regression\census-income .csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [105]:
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [107]:
df.shape

(32561, 15)

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  annual_income   32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [111]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
annual_income     0
dtype: int64

In [113]:
df.duplicated().sum()

24

In [115]:
df=df.drop_duplicates()
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [117]:
df.shape

(32537, 15)

In [119]:
df.duplicated().sum()

0

In [121]:
df['annual_income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [123]:
for col in df.columns:
    if df[col].dtypes==object:
        print(f"{col}:{df[col].unique()}")

workclass:['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
education:['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
marital-status:['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
occupation:['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' '?'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
relationship:['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
race:['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
sex:['Male' 'Female']
native-country:['United-States' 'Cuba' 'Jamaica' 'India' '?' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
annual_income:['<=50K' '>50K']

In [125]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for col in df.columns:
    if df[col].dtypes==object:
        df[col]=le.fit_transform(df[col])

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,0
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32537 non-null  int64
 1   workclass       32537 non-null  int32
 2   fnlwgt          32537 non-null  int64
 3   education       32537 non-null  int32
 4   education-num   32537 non-null  int64
 5   marital-status  32537 non-null  int32
 6   occupation      32537 non-null  int32
 7   relationship    32537 non-null  int32
 8   race            32537 non-null  int32
 9   sex             32537 non-null  int32
 10  capital-gain    32537 non-null  int64
 11  capital-loss    32537 non-null  int64
 12  hours-per-week  32537 non-null  int64
 13  native-country  32537 non-null  int32
 14  annual_income   32537 non-null  int32
dtypes: int32(9), int64(6)
memory usage: 2.9 MB

In [129]:
x=df.drop(columns='annual_income')
x.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5

In [131]:
y=df.annual_income
y.head()

0    0
1    0
2    0
3    0
4    0
Name: annual_income, dtype: int32

In [133]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)
x_train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
32239,36,4,127573,11,9,5,1,1,4,0,0,0,38,39
30377,52,4,114228,11,9,0,3,1,4,1,3325,0,40,39
5457,34,4,209808,15,10,2,1,0,4,1,0,0,40,39
19700,54,4,183248,11,9,0,14,1,2,1,0,0,40,39
23197,30,4,83253,11,9,2,10,0,4,1,0,0,55,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29823,38,4,187983,14,15,2,12,5,4,0,0,0,40,39
5392,63,4,216413,9,13,6,1,1,4,0,0,0,25,39
860,18,4,216284,1,7,4,1,3,4,0,0,0,20,39
15801,34,4,242960,8,11,2,3,0,4,1,0,0,50,39
23669,23,4,329925,15,10,4,6,3,4,1,0,0,30,39

In [135]:
x_test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
3643,31,7,33308,8,11,2,3,0,4,1,0,0,40,39
16042,24,1,130534,9,13,4,4,1,4,1,0,0,40,39
9404,60,2,98350,15,10,2,8,0,1,1,0,0,60,30
17910,31,4,398988,15,10,4,4,1,4,1,0,0,40,39
5200,43,1,144778,9,13,4,4,1,4,1,0,0,40,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8215,22,4,157332,11,9,4,8,3,4,0,0,0,35,39
24638,49,4,187454,11,9,2,12,0,4,1,99999,0,65,39
5516,43,6,183479,11,9,2,3,0,4,1,0,0,30,39
29831,32,2,112650,11,9,2,11,0,4,1,0,0,40,39
29056,46,1,33794,9,13,2,13,0,4,1,3103,0,40,39

In [143]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler ()

x_train_scaled=sc.fit_transform(x_train)
x_train_scaled

array([[-0.18881982,  0.0890265 , -0.5949649 , ..., -0.21783754,
        -0.19397666,  0.29344831],
       [ 0.98486164,  0.0890265 , -0.72199134, ..., -0.21783754,
        -0.0319154 ,  0.29344831],
       [-0.33553   ,  0.0890265 ,  0.18780166, ..., -0.21783754,
        -0.0319154 ,  0.29344831],
       ...,
       [-1.50921146,  0.0890265 ,  0.24944447, ..., -0.21783754,
        -1.65252797,  0.29344831],
       [-0.33553   ,  0.0890265 ,  0.50336409, ..., -0.21783754,
         0.77839088,  0.29344831],
       [-1.142436  ,  0.0890265 ,  1.33115389, ..., -0.21783754,
        -0.84222169,  0.29344831]])

In [145]:
x_test_scaled=sc.transform(x_test)
x_test_scaled

array([[-0.55559527,  2.15678745, -1.49224087, ..., -0.21783754,
        -0.0319154 ,  0.29344831],
       [-1.06908091, -1.97873445, -0.56678016, ..., -0.21783754,
        -0.0319154 ,  0.29344831],
       [ 1.57170236, -1.2894808 , -0.87312854, ..., -0.21783754,
         1.58869717, -0.85371054],
       ...,
       [ 0.32466582,  1.4675338 , -0.062815  , ..., -0.21783754,
        -0.84222169,  0.29344831],
       [-0.48224018, -1.2894808 , -0.73701178, ..., -0.21783754,
        -0.0319154 ,  0.29344831],
       [ 0.54473109, -1.97873445, -1.4876148 , ..., -0.21783754,
        -0.0319154 ,  0.29344831]])

In [147]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

model.fit(x_train_scaled, y_train)

LogisticRegression()

In [149]:
y_pred=model.predict(x_test_scaled)
y_pred

array([0, 0, 0, ..., 0, 0, 1])

In [151]:
from sklearn.metrics import *
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.8248309772587584

In [153]:
confusion_matrix=confusion_matrix(y_test, y_pred)
confusion_matrix

array([[4604,  301],
       [ 839,  764]], dtype=int64)

In [157]:
accuracy=(4604+764)/(4604+301+839+764)
accuracy

0.8248309772587584

In [159]:
precision_1=764/(764+301)
precision_1

0.7173708920187793

In [ ]:
precision_2=4604/(4604+